.actions-link {
    text-align: right;
}

#contribution_text {
    resize: none;
}

.contribution-id {
    padding-right: 10px;
}

.contributor {
    color: #008000;
    font-size: large;
}

#more-paginate {
    padding-bottom: 40px;
}

.new_contribution {
   padding-top: 40px;
   padding-bottom: 40px;
}

.contributions-table {
    padding-top: 4px;
}